html,body{
    height: 100%;	
	margin: 0;
	padding: 0;
    overflow: hidden;
    font-family: Microsoft Yahei,SimSun,Helvetica;
}
html{
	background: #ebebeb;
	color: #333333;

}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
a,input[type="text"],input[type="password"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
*{margin: 0;padding: 0;}
input,button{outline: none;}
header{
	position: relative;
	height: 27px;
	background: #fff;
	font-size: 14px;
	line-height: 27px;
    padding-left: 6%;
    border-bottom: 1px solid #CCCCCC;
    margin-top:10px;
}

.main .top,.main .center,.main .bottom{
	overflow: hidden;
	padding-left: 10%;
	font-size: 12px;
	background: #fff;
	border-bottom: 1px solid #CCCCCC;

}
.main .top{
    padding-top:10px;
    padding-bottom: 10px;    
}
.main .center{
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
}
.main .bottom{
	margin-bottom: 10px;
}
.main .center,.main .bottom{
	color: #999999;
	padding-right: 10%;
}
.main .center .wrapper,.main .bottom .wrapper{
	float: right;
}
.main p{
	margin-top: 6px;
}
.bottom .ordernumS,.orderTabNumS,.unpayS{
	color:#ff0101;
}

footer{
    position: absolute;
    bottom: 0px;
    width:100%;
    height:45px;
    background:#fff;
    line-height: 45px;
}
footer .button{
    float:right;
    margin-right:20px;
}
footer .button button{
    border: 0;
    background: #ffa632;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    width: 84px;
    height: 28px;
}
footer .button button:nth-child(1){
    border: 1px solid #ffa632;
    background: #fff;
    color: #ffa632;
    margin-right: 10px;
}