html,body{
	margin: 0;
	padding: 0;
    font-family: Microsoft Yahei,SimSun,Helvetica;
}
html{
	background: #fff;
}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input, button { cursor: pointer; -webkit-appearance: none; } 
*:focus{
	-webkit-appearance: none; 
	outline: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
::-webkit-input-placeholder{color:#999;}
a,input[type="text"],input[type="password"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
*{margin: 0;padding: 0;}
header img{
	width: 100%;
	display: block;
}
section.section1{
	text-align: center;
	font-size: 15px;
    line-height: 39px;
    padding-top: 30px;
    color: #333;
}
.section1 .activityAddress{
	width: 80%;
    margin: 0 auto;
    font-size: 12px;
    background: #cccccc;
    border-radius: 20px;
    color: #666;
}

footer{
	margin: 30px 0;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
     -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
     -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
footer button{
	width: 92%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
button.copy {
    background: #14c6ff;
    margin-bottom: 2%;
}

button.share {
    background: #ff6160;
}

/*弹出层区域*/
.mask{
	position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}

